@import "loader.css";
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Space Mono", monospace;
	color: white;
	background-color: #181818;
}

.introduction,
.button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.introduction {
	margin-top: 5%;
}
.skills {
	font-size: 1em;
	opacity: 0.5;
}

.button {
	flex-direction: row;
	justify-content: space-around;
	margin: 15%;
}
.question {
	font-size: 3em;
}
.but-hover a {
	padding: 15px 30px;
	border: 1.5px solid white;
	text-decoration: none;
	color: white;
	background-color: #181818;
}
.but-hover:hover {
	opacity: 0;
}
