*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
}

/* ? page */
.page {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to top left, #080808, #161616);
	/* background-size: cover; */
}

/* ? image-box */
.image-box {
	position: absolute;
	top: 30%;
	right: 15%;
}
.image-box {
	display: none;
}
/* ? content-box */
.content-box {
	position: absolute;
	top: 40%;
	left: 25%;
	color: white;
}
.social::before {
	content: "";
}
.social.animated::before {
	content: "";
	animation: anisocial 5s ease infinite;
}
.content-box h1 {
	font-weight: 800;
	font-size: 2em;
}
.content-box h2 {
	margin: 5px 0px;
	font-size: 0.8em;
	font-weight: 400;
	opacity: 0.5;
}
.content-box a {
	text-decoration: none;
	position: absolute;
	margin-top: 15px;
	color: white;
	padding: 10px 45px;
	border: 1.5px solid #00e5b0;
	color: #00e5b0;
}
.content-box a:hover {
	color: #202020;
	background-color: #00e5b0;
}

/* ? Sidebar */
.sidebar {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	background-color: #101010;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.logo {
	padding: 5px;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: auto;
}
.logo:hover {
	animation: logotate 2s ease-out forwards;
}
.nav {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.nav a {
	margin-bottom: 25px;
}
.nav a i {
	padding: 10px;
}
.selected {
	font-size: 1.5em;
	color: #00e5b0;
}
.non-select {
	color: white;
	opacity: 0.5;
}
.non-select:hover {
	animation: hovin 1s ease forwards;
}

/* ? loader-wrapper  */
.loader-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #080808;
}
.loader-wrapper p {
	margin-top: 25px;
	animation: loader-loading 3s ease infinite;
}
.loader {
	width: 50px;
	height: 50px;
	border: 0px solid white;
	animation: loader 3s ease infinite;
}
@keyframes loader {
	0% {
		border: 5px solid white;
		transform: rotate(45deg);
	}
	15% {
		border: 35px solid #00e5b0;
		background-color: #080808;
		transform: rotate(90deg);
	}
	50% {
		border: 5px solid #ff1859;
		transform: rotate(135deg);
	}
	65% {
		border: 35px solid #ffea00;
		background-color: #080808;
		transform: rotate(180deg);
	}
	100% {
		border: 5px solid white;
		transform: rotate(225deg);
	}
}

@keyframes loader-loading {
	0% {
		opacity: 0;
		color: white;
	}
	25% {
		opacity: 1;
		color: #00e5b0;
	}
	50% {
		opacity: 0;
		color: #ff1859;
	}
	75% {
		opacity: 1;
		color: #ffea00;
	}
	100% {
		opacity: 0;
		color: white;
	}
}
@keyframes hovin {
	from {
		opacity: 0.5;
		color: white;
		font-size: 1em;
	}
	to {
		opacity: 1;
		color: #00e5b0;
		font-size: 1.5em;
	}
}
@keyframes logotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(380deg);
	}
	75% {
		transform: rotate(340deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes anisocial {
	0% {
		content: "instagram/";
		color: #dd2a7b;
	}
	25% {
		content: "facebook/";
		color: #3b5998;
	}
	50% {
		content: "twitter/";
		color: #08a0e9;
	}
	75% {
		content: "github/";
		color: #f1502f;
	}
	100% {
		content: "instagram/";
		color: #dd2a7b;
	}
}

@media screen and (max-width: 720px) {
	.sidebar {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 60px;
		background-color: #101010;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.nav {
		display: flex;
		flex-direction: row;
		text-align: center;
	}
	.nav a {
		margin: 0px 12.5px;
	}
	.nav a i {
		padding: 10px;
	}
}
